.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

.gameBoard {
  font-size: 16px;
}

.boxLabel {
  position: absolute;
  z-index: 8;
  margin: auto auto;
  width: 80%;
  font-size: 2em;
}

.dot {
  background: blue;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  position: absolute;
}

.selectedCoordCircle {
  border-radius: 40%;
  width: 4em;
  height: 4em;
  position: absolute;
  top: -1.5em;
  left: -1.5em;
  padding: 0px;
  margin: 0px;
}

.greyedHorizLine, .greyedVertLine {
  background: grey;
  opacity: 0.5;
  z-index: -6;
  position: absolute;
  top: .25em;
  left: .25em;
}

.horizLine, .vertLine {
  background: red;
  z-index: -5;
  position: absolute;
  top: .25em;
  left: .25em;
}

.horizLine, .greyedHorizLine {
  height: .5em;
  width: 6em;
}

.vertLine, .greyedVertLine {
  height: 6em;
  width: .5em;
}

.gameBoard {
  display: table;
}
 
.gameBoardRow {
  display: table-row;
}

.gameBoardSquare {
  display: table-cell;
  position: relative;
  height: 6em;
  width: 6em;
}

.bottomBorder {
  height: 1em;
}

.rightBorder {
  width: 1em;
}
